.customize-control select {
    width: 100%;
}

.hiddenSection {
    display: none !important;
}

.vct-message {
    margin-top: 5px;
}

.vct-popup {
    background-color: rgba(0,0,0, .4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.vct-popup-content {
    max-width: 100%;
    width: 600px;
    background: #fff;
    overflow: auto;
    position: relative;
    padding: 35px;
    margin: 0 15px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}

.vct-popup-close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.vct-popup-close::before,
.vct-popup-close::after {
    content: '';
    height: 2px;
    width: 20px;
    background: #bdbdbd;
    position: absolute;
}

.vct-popup-close::before {
    transform: rotate(45deg);
}

.vct-popup-close::after {
    transform: rotate(-45deg);
}

.vct-popup-buttons,
.vct-spinner-wrapper {
    margin-top: 30px;
}

.vct-popup-buttons button {
    background: #a8a8a8;
    border-radius: initial;
    border: none;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
}
