@media only screen and (min-width: 768px) {
  body.menu-sandwich.admin-bar #main-menu {
    padding-top: 86px;
  }
  body:not(.menu-sandwich) .header-widgetised-area {
    float: right;
  }
  body:not(.menu-sandwich) .header-widgetised-area .widget {
    float: left;
    margin-bottom: 0;
  }
  body:not(.menu-sandwich) .header-widgetised-area .widget-title,
  body:not(.menu-sandwich) .header-widgetised-area .textwidget {
    display: inline-block;
    margin-bottom: 0;
  }
  body:not(.menu-sandwich) .header-widgetised-area .widget_text {
    padding: 0.55em 0.83em;
  }
  body:not(.menu-sandwich) .navbar-header {
    max-width: 25%;
  }
  body:not(.menu-sandwich) .navbar-header img {
    max-width: 100%;
    height: auto;
  }
  body:not(.menu-sandwich) .navbar-toggle {
    display: none !important;
  }
  body:not(.menu-sandwich) #main-menu {
    text-align: right;
    position: static;
    width: auto;
    background: none;
    padding: 0;
    overflow-y: inherit;
    margin-left: 28%;
  }
  body:not(.menu-sandwich) #main-menu .header-widgetised-area {
    float: right;
    margin: 7.5px 0 7.5px 20px;
    text-align: left;
  }
  body:not(.menu-sandwich) #main-menu .button-close {
    display: none;
  }
  body:not(.menu-sandwich) #main-menu .dropdown-toggle {
    display: none;
  }
  body:not(.menu-sandwich) #main-menu > ul {
    display: inline-block;
    margin: 7.5px 0;
    text-align: left;
  }
  body:not(.menu-sandwich) #main-menu > ul > li {
    font-size: 18px;
  }
  body:not(.menu-sandwich) #main-menu > ul > li a {
    padding: 0.55em 0.83em;
  }
  body:not(.menu-sandwich) #main-menu > ul > li > a {
    line-height: 1em;
    color: #555;
  }
  body:not(.menu-sandwich) #main-menu > ul > li > a:hover,
  body:not(.menu-sandwich) #main-menu > ul > li > a:focus {
    color: #333;
  }
  body:not(.menu-sandwich) #main-menu > ul > li.menu-item-has-children > a:before {
    top: 1.3em !important;
    -webkit-transform: rotate(0deg) !important;
        -ms-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
    font-size: 0.55em !important;
    margin-top: 0 !important;
  }
  body:not(.menu-sandwich) #main-menu > ul > li > ul {
    top: 100% !important;
    left: 0;
    margin-top: 10px;
  }
  body:not(.menu-sandwich) #main-menu ul li:hover > ul {
    visibility: visible;
    opacity: 1;
  }
  body:not(.menu-sandwich) #main-menu ul li.menu-item-has-children > a {
    padding-right: 2.05em;
    margin-right: 0;
  }
  body:not(.menu-sandwich) #main-menu ul li.menu-item-has-children > a:before {
    content: '\71';
    top: 50%;
    right: 1.5em;
    margin-top: -10px;
    font-family: 'Visual Composer Starter Font';
    font-size: 0.7em;
    position: absolute;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  body:not(.menu-sandwich) #main-menu ul li ul {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block !important;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    position: absolute;
    right: 100%;
    top: 0;
    width: 13.75rem;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  body:not(.menu-sandwich) #main-menu ul li ul li {
    position: relative;
    padding: 0;
  }
  body:not(.menu-sandwich) #main-menu ul li ul li a {
    padding: 12px 18px;
    display: block;
    line-height: 1.7;
    color: #555;
  }
  body:not(.menu-sandwich) #main-menu ul li ul li a:hover,
  body:not(.menu-sandwich) #main-menu ul li ul li a:focus {
    color: #333;
  }
  body:not(.menu-sandwich) #main-menu ul li ul li:hover > a {
    background-color: #eee;
  }
  body:not(.menu-sandwich) #main-menu ul li ul li ul {
    padding: 0;
  }
  body.navbar-no-background:not(.menu-sandwich) #main-menu,
  body.navbar-no-background:not(.menu-sandwich) #main-menu .navbar-nav {
    background-color: transparent !important;
  }
  #main-menu ul li a {
    font-size: 0.875em;
  }
  .comments-area .comment-list .author-avatar {
    float: left;
  }
  .comments-area .comment-list .comment-wrapper {
    margin-left: 100px;
  }
  .comments-area .comment-list ol.children {
    margin-left: 100px;
  }
  .comment-form-author,
  .comment-form-email,
  .comment-form-url,
  .form-submit,
  .comment-subscription-form {
    width: 32%;
    float: left;
    margin-left: 2%;
  }
  .comment-form-author,
  .form-submit {
    margin-left: 0;
  }
  .comment-subscription-form {
    display: table;
    height: 46px;
  }
  .comment-subscription-form label {
    display: table-cell;
    vertical-align: middle;
  }
}
/*min-width: 768px*/
@media only screen and (min-width: 783px) {
  body.fixed-header.admin-bar .navbar {
    top: 32px;
  }
}
@media only screen and (min-width: 992px) {
  .nav-next {
    text-align: right;
  }
  .nav-next,
  .nav-previous {
    margin-bottom: 0;
  }
  #footer .footer-right-block {
    float: right;
    margin-left: 12.5%;
    margin-bottom: 0;
    display: table;
  }
  #footer .footer-socials {
    display: table-cell;
    vertical-align: middle;
  }
  #footer .footer-socials ul {
    text-align: right;
  }
  #footer .footer-socials ul li {
    margin: 0 0 0 8px;
  }
  #footer .copyright {
    margin-bottom: 5px;
  }
  .footer-menu {
    margin: 0;
  }
  .footer-bottom {
    padding: 30px 0;
  }
}
/*min-width: 992px*/
@media only screen and (min-width: 1024px) {
  #main-menu ul li a {
    font-size: 1em;
  }
  body.header-full-width .navbar {
    padding-left: 40px;
    padding-right: 40px;
  }
  body.content-full-width .content-wrapper {
    padding-right: 0;
    padding-left: 0;
  }
  body.content-full-width .footer-bottom,
  body.content-full-width .footer-widget-area {
    padding-left: 40px;
    padding-right: 40px;
  }
}
/*min-width: 1024px*/
@media only screen and (min-width: 1400px) {
  body.content-full-width .content-wrapper {
    padding-right: 0;
    padding-left: 0;
  }
}
/*min-width: 1400px*/
