@font-face {
  font-family: 'Visual Composer Starter Font';
  src: url('../fonts/visual-composer-starter-font.eot');
  src: url('../fonts/visual-composer-starter-font.eot?#iefix') format('embedded-opentype'), url('../fonts/visual-composer-starter-font.woff2') format('woff2'), url('../fonts/visual-composer-starter-font.woff') format('woff'), url('../fonts/visual-composer-starter-font.ttf') format('truetype'), url('../fonts/visual-composer-starter-font.svg#visual-composer-starter-font') format('svg');
}
[data-icon]:before {
  font-family: "Visual Composer Starter Font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="vct-icon-"]:before,
[class*=" vct-icon-"]:before {
  font-family: "Visual Composer Starter Font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.vct-icon-chat-bubble-outline:before {
  content: "\61";
}
.vct-icon-event-note:before {
  content: "\62";
}
.vct-icon-facebook-with-circle:before {
  content: "\63";
}
.vct-icon-flickr-with-circle:before {
  content: "\64";
}
.vct-icon-folder-open:before {
  content: "\65";
}
.vct-icon-github-with-circle:before {
  content: "\66";
}
.vct-icon-twitter-with-circle:before {
  content: "\67";
}
.vct-icon-vimeo-with-circle:before {
  content: "\68";
}
.vct-icon-youtube-with-circle:before {
  content: "\69";
}
.vct-icon-instagram-with-circle:before {
  content: "\6a";
}
.vct-icon-linkedin-with-circle:before {
  content: "\6b";
}
.vct-icon-mail:before {
  content: "\6c";
}
.vct-icon-mail-circle:before {
  content: "\6d";
}
.vct-icon-person-outline:before {
  content: "\6e";
}
.vct-icon-pinterest-with-circle:before {
  content: "\6f";
}
.vct-icon-search:before {
  content: "\70";
}
.vct-icon-dropdown:before {
  content: "\71";
}
.vct-icon-close:before {
  content: "\72";
}
