.visualcomposerstarter.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding: 0;
}

.visualcomposerstarter.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    display: none;
}

.visualcomposerstarter.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: none;
    background: none;
}

.visualcomposerstarter.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    position: relative;
    text-transform: uppercase;
}

.visualcomposerstarter.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: #2B4B80;
}

.visualcomposerstarter.woocommerce div.product .woocommerce-tabs ul.tabs li.active a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #2B4B80;
}

.visualcomposerstarter.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.visualcomposerstarter.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    display: none;
}

.visualcomposerstarter.woocommerce div.product .entry-categories a {
    text-transform: uppercase;
    color: #C2C2C2;
}

.visualcomposerstarter.woocommerce div.product .entry-categories a:hover {
    text-decoration: none;
    color: #C2C2C2;
}

.visualcomposerstarter.woocommerce div.product .product_title {
    margin-bottom: 10px;
}

.visualcomposerstarter.woocommerce .star-rating::before {
    content: '\53\53\53\53\53';
    color: #eee;
}

.visualcomposerstarter.woocommerce .star-rating span::before {
    color: #FAC917;
}

.woocommerce div.product p.price, .woocommerce div.product span.price

.visualcomposerstarter.woocommerce div.product p.price,
.visualcomposerstarter.woocommerce div.product span.price ins,
.visualcomposerstarter.woocommerce .woocommerce-Price-amount.amount {
    color: #2B4B80;
    text-decoration: none;
}

.visualcomposerstarter.woocommerce div.product span.price del,
.visualcomposerstarter.woocommerce div.product p.price del,
.visualcomposerstarter.woocommerce div.product p.price del span,
.visualcomposerstarter.woocommerce div.product span.price del span {
    color: #D5D5D5;
}

.visualcomposerstarter .woocommerce-Price-amount {
    font-size: 30px;
    font-weight: 600;
    margin-right: 10px;
}

.visualcomposerstarter .related  .woocommerce-Price-amount {
    font-size: 16px;
    font-weight: 500;
}

.visualcomposerstarter.woocommerce span.onsale {
    top: 20px;
    left: 20px;
    background: none;
}

.visualcomposerstarter.woocommerce button.button,
.visualcomposerstarter.woocommerce button.button.alt.disabled {
    padding: 22px 48px;
    border-radius: 0;
    text-transform: uppercase;
}

.visualcomposerstarter.woocommerce a.button.product_type_simple {
    padding: 15px 30px;
    border-radius: 0;
    text-transform: uppercase;
}

.visualcomposerstarter.woocommerce div.product form.cart .button {
    margin-left: 20px;
}

.visualcomposerstarter.woocommerce .quantity .qty {
    border-radius: 2px;
    border: 1px solid #EFEFEF;
    line-height: 0;
    height: 60px;
    width: 120px;
    text-align: left;
    padding: 20px;
}

.visualcomposerstarter.woocommerce .entry-summary .product_meta {
    margin-bottom: 30px;
}

.visualcomposerstarter.woocommerce div.product form.cart .variations td.label {
    display: none;
}

.visualcomposerstarter.woocommerce div.product form.cart .variations select {
    width: 340px;
    height: 50px;
    border-radius: 2px;
    border: 1px solid #EFEFEF;
    background: transparent;
    margin-bottom: 10px;
}

.visualcomposerstarter.woocommerce table.shop_attributes {
    border: none;
}

.visualcomposerstarter.woocommerce table.shop_attributes th,
.visualcomposerstarter.woocommerce table.shop_attributes td {
    border: none;
    background: transparent !important;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 25px;
}

.visualcomposerstarter.woocommerce p.stars a {
    border: none;
}

.visualcomposerstarter.woocommerce p.stars a::before,
.visualcomposerstarter.woocommerce p.stars a:hover~a::before {
    content: '\e020';
    color: #eee;
}

.visualcomposerstarter.woocommerce p.stars:hover a::before,
.visualcomposerstarter.woocommerce p.stars.selected a.active::before,
.visualcomposerstarter.woocommerce p.stars.selected a:not(.active)::before {
    color: #FAC917;
}

.visualcomposerstarter.woocommerce p.stars.selected a.active~a::before {
    content: '\e020';
    color: #eee;
}

.visualcomposerstarter.woocommerce #reviews #comments ol.commentlist li .comment-text {
    border: none;
    border-bottom: 1px solid #e4e1e3;
}


.visualcomposerstarter.woocommerce div.product div.images .flex-control-thumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 12px;
}

.visualcomposerstarter.woocommerce div.product div.images .flex-control-thumbs li {
    width: auto;
    float: none;
    margin: 0 12px 12px 0;
}

.visualcomposerstarter.woocommerce-page .woocommerce-message {
    border:none;
    background-color: #557cbf;
    color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}

.visualcomposerstarter.woocommerce-page .woocommerce-message::before {
    display:none;
}

.visualcomposerstarter.woocommerce div.product .woocommerce-tabs .panel {
    -webkit-box-shadow: none;
            box-shadow: none;
}

.visualcomposerstarter.woocommerce-page .woocommerce-message a.button {
    padding-bottom: 7px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 7px;
    border-color: #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    background-color: inherit;
    color:#ffffff;
    font-size: 13px;
    font-weight: 500;
}

.visualcomposerstarter.woocommerce-page .woocommerce-message a.button:hover {
    padding-bottom: 7px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 7px;
    border-color: #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    background-color: #ffffff;
    color:#557cbf;
    font-size: 13px;
    font-weight: 500;
}
