@media only screen and (min-width: 768px) {
	body:not(.menu-sandwich) {
		.navbar-toggle {display: none !important;}

		#main-menu {
			position: static;
			width: auto;
			background: none;
			padding: 0;

			.button-close {
				display: none;
			}

			>ul {
				margin: 7.5px -15px;
				>li {
					a {
						padding: 10px 15px;
					}
					>ul {
						top: 100% !important;
						left: 0;
						margin-top: 10px;
					}
				}
			}

			ul {
				li {
					&:hover {
						>ul {
							visibility: visible;
							opacity: 1;
						}
					}

					ul {
						transition: all 0.3s ease;
						display: block !important;
						padding: 0;
						visibility: hidden;
						opacity: 0;
						z-index: 100;
						position: absolute;
						right: 100%;
						top: 0;
						width: 13.75rem;
						background-color: #fff;
						box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
						li {
							position: relative;
							a {
								padding: 12px 18px;
								display: block;
								&:hover {
									background-color: #eee;
								}
							}
							ul {
								padding: 0;
							}
						}
					}
				}
			}
		}
	}

	body.navbar-no-background:not(.menu-sandwich) {
		#main-menu, #main-menu .navbar-nav {
			background-color: transparent !important;
		}
	}

	#main-menu {
		ul {
			li {
				a {
					font-size: 0.875em;
				}
			}
		}
	}

	.comments-area {
		.comment-list {
			.author-avatar {
				float: left;
			}

			.comment-wrapper {
				margin-left: 100px;
			}

			ol {
				margin-left: 100px;
			}
		}
	}

	.comment-form-author, .comment-form-email, .comment-form-url, .form-submit, .comment-subscription-form {
		width: 32%;
		float: left;
		margin-left: 2%;
	}

	.comment-form-author, .form-submit {
		margin-left: 0;
	}

	.comment-subscription-form {
		display: table;
		height: 46px;

		label {
			display: table-cell;
			vertical-align: middle;
		}
	}
}/*min-width: 768px*/

@media only screen and (min-width: 992px) {
	.nav-next {
		text-align: right;
	}

	.nav-next, .nav-previous {
		margin-bottom: 0;
	}

	#footer {
		.footer-right-block {
			float: right;
			margin-left: 12.5%;
			margin-bottom: 0;
			display: table;
		}

		.footer-socials {
			display: table-cell;
			vertical-align: middle;
			ul {
				text-align: right;
				li {
					margin: 0 0 0 8px;
				}
			}
		}

		.copyright {
			margin-bottom: 0;

			span {
				display: inline-block;
			}
		}
	}

	.footer-menu {
		margin: 0;
	}

	.footer-bottom {
		padding: 40px 0;
	}
}/*min-width: 992px*/

@media only screen and (min-width: 1024px) {
	#main-menu {
		ul {
			li {
				a {
					font-size: 1em;
				}
			}
		}
	}

	body.header-full-width {
		.navbar {
			padding-left: 40px;
			padding-right: 40px;
		}
	}

	body.content-full-width {
		.content-wrapper {
			padding-right: 65px;
			padding-left: 65px;
		}

		.footer-bottom, .footer-widget-area {
			padding-left: 40px;
			padding-right: 40px;
		}
	}
}/*min-width: 1024px*/

@media only screen and (min-width: 1400px) {
	body.content-full-width {
		.content-wrapper {
			padding-right: 100px;
			padding-left: 100px;
		}
	}
}/*min-width: 1400px*/