@import "mixins";
@import "variables";

//Background colors
@default-bg-color: #fff;
@default-navbar-color: #fff;
@main-footer-background: hsl(0, 0%, 20%);
@lightness-percentage: lightness(@main-footer-background)/10;
@secondary-footer-background: lighten(@main-footer-background, @lightness-percentage);

//Icons and text color
@sandwich-color-light: #fff;
@sandwich-color-dark: #333;
@text-color: #555;
@headers-color: #333;
@footer-main-color: #777;
@footer-headers-color: #fff;
@footer-active-color: #fff;

//Typography
@default-font-family: 'Roboto';
@secondary-font-family: 'Playfair Display';
@icon-font-family: 'Visual Composer Theme Font';
@default-font-size: 16px;
@default-line-height: 1.7;
@active-text-color: #557cbf;


//Link
.a() {
	border-bottom-width: 1px;
	border-bottom-color: @active-text-color;
	border-bottom-style: solid;
	transition: border-bottom 0.3s ease;
	line-height: 1.2;

	&:hover, &:focus {
		text-decoration: none;
		border-bottom-color: transparent;
		color: @active-text-color;
	}
}

html {
	font-size: @default-font-size;
}

body {
	background-color: @default-bg-color;
	font-size: 100%;
	font-family: @default-font-family;
	line-height: @default-line-height;
	letter-spacing: 0.01rem;
}

a {
	color: @active-text-color;
}


//HEADER
#header {
	margin-bottom: 45px;
}

.navbar {
	padding: 25px 0;
	background: @default-bg-color;
	border: none;
	margin-bottom: 0;
}

body.fixed-header {
  	.navbar {
		width: 100%;
		z-index: 999;
	}
}

body.navbar-no-background {
	#header {
		position: relative;

		.navbar {
			position: absolute;
			width: 100%;
			background: none;
		}
	}
}

.navbar-brand {
	height: auto;
	padding: 0 15px;
}

.navbar-toggle {
	.icon-bar {
		width: 20px;
		border-radius: 0;
		background-color: @sandwich-color-dark;
	}
}

.sandwich-color-light {
	.navbar-toggle {
		.icon-bar {
			background-color: @sandwich-color-light;
		}
	}

	#main-menu {
		.button-close {
			background-image: url("../images/icon-close-light.png");
		}
	}
}

body.menu-sandwich {
	.navbar-header {
		float: none;
	}

	.navbar-toggle {
		display: block;
		float: right;
	}

	#main-menu {
		ul.nav {
			float: none !important;
			li {
				float: none;
			}
		}
	}
}

#main-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 100%;
	z-index: 9999;
	height: 100%;
	background-color: #fff;
	padding: 40px 30px 0 30px;
	width: 270px;
	transition: margin 0.8s ease;

	&.open {
		margin-left: -270px;
	}

	.button-close {
		width: 16px;
		height: 16px;
		background: url("../images/icon-close-dark.png") 50% 50% no-repeat;
		cursor: pointer;
		margin-bottom: 25px;
	}

	>ul {
		margin: 0;
		>li {
			font-size: 18px;
			>a {
				padding: 12px 0;
				font-family: @secondary-font-family;
				&:hover, &:focus {
					background: none;
				}
			}
		}
	}

	ul {
		background-color: @default-navbar-color;
		li {
			a {
				color: #555;
				&:hover, &:focus {
					color: #333;
					text-decoration: none;
				}
			}
			ul {
				display: none;
				padding: 10px 0;
				font-family: @default-font-family;
				font-size: @default-font-size;
				li {
					list-style: none;

					ul {
						padding-left: 10px;
					}
				}
			}
		}
	}
}

.header-image {
	img {
		width: 100%;
		height: auto;
	}
}


//Content
.content-wrapper {
	margin-bottom: 45px;
}

.entry-full-content {
	.entry-author-data {
		text-align: center;

		.author-avatar {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			overflow: hidden;
			display: inline-block;
			margin-bottom: 7px;

			img {
				display: block;
				width: 100%;
			}
		}

		.author-name {
			color: @headers-color;
			font-family: @secondary-font-family;
			font-size: 22px;
			font-weight: 700;
			margin-bottom: 7px;
		}

		.author-biography {
			font-size: 14px;
			font-style: italic;
			font-weight: 700;
			color: #777;
		}

		margin-bottom: 20px;
	}

	.entry-meta {
		font-size: 14px;
		font-weight: 700;
		color: #777;
		margin-bottom: 8px;

		a {
			color: @headers-color;
			border-bottom: 1px solid transparent;
			transition: border-bottom 0.3s ease;

			&:hover, &:focus {
				border-bottom-color: @headers-color;
				text-decoration: none;
			}
		}
	}
}



//Typography
h1, h2, h3, h4, h5, h6 {
	font-family: @secondary-font-family;
	color: #333;
}

h1 {
	margin: 0 0 2.125rem 0;
	font-size: 42px;
}

.entry-content {
	p, ol, ul, table, .wp-caption, datalist {
		margin: 0 0 1.625rem 0;

		a {
			.a();
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}


}

.wp-caption {
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.wp-caption-text {
		color: #777;
		font-size: 14px;
		font-style: italic;
		margin-top: 5px;
		text-align: center;
	}
}

.aligncenter {
	display: block;
}




//Widgets
.widget-title {
	margin: 0 0 1rem 0;
	font-size: 22px;
}

.widget_search {
	form {
		position: relative;

		&:after {
			content: '\70';
			font-family: @icon-font-family;
			position: absolute;
			right: 0;
			top: 0;
			width: 40px;
			height: 40px;
			font-size: 16px;
			line-height: 40px;
			text-align: center;
			z-index: 1;
		}

		label {
			width: 100%;
			margin-bottom: 0;
			.screen-reader-text {
				display: none;
			}

			.search-field {
				width: 100%;
				height: 40px;
				padding: 0 40px 0 15px;
				border: 1px solid #d4d4d4;
				outline: none;
				font-style: italic;
				font-weight: 500;
				font-size: 14px;
			}
		}

		input[type="submit"] {
			position: absolute;
			right: 0;
			top: 0;
			width: 40px;
			height: 40px;
			opacity: 0;
			z-index: 2;
		}
	}
}


//Saidbar
.sidebar-widget-area {
	.widget {
		padding-top: 20px;
		border-top: 1px solid #eee;
		margin-bottom: 25px;
		font-size: 14px;
		transition: color 0.3s ease;
	}

	.widget_recent_entries, .widget_archive, .widget_categories, .widget_meta {
		ul {
			li {
				color: @active-text-color;

				&:hover, &:focus {
					color: @text-color;
				}

				a {
					display: inline-block;
					vertical-align: top;
				}
			}
		}
	}

	.widget_search {
		form {
			margin-top: 5px;
		}
	}


	a {
		&:hover, &:focus {
			text-decoration: none;
			color: @text-color;
		}
	}

	ul {
		padding-left: 16px;
	}
}

//Footer
#footer {
	background-color: @main-footer-background;
	color: @footer-main-color;
	font-size: 14px;
	line-height: 1.7;

	a {
		border-bottom-width: 1px;
		border-bottom-color: transparent;
		border-bottom-style: solid;
		transition: border-bottom 0.3s ease;
		line-height: 1.2;
		color: @footer-active-color;

		&:hover {
			border-bottom-color: @footer-active-color;
			text-decoration: none;
		}
	}

	ul, ol {
		li {
			color: @footer-active-color;
		}
	}

	.footer-socials {
		ul {
			padding: 0;
			margin: 0;
			li {
				list-style: none;
				display: inline-block;
				margin: 0 8px 0 0;
				a {
					line-height: 1;
					font-size: 32px;
					color: @footer-main-color;
					border-bottom: none;
					opacity: 0.75;
					transition: opacity 0.3s ease;

					&:hover {
						opacity: 1;
					}

					span {display: block;}
				}
			}
		}
	}

	.copyright {
		margin-bottom: 10px;
	}
}

.footer-widget-area {
	background-color: @secondary-footer-background;
	padding: 45px 0 15px 0;

	.widget {
		margin-bottom: 25px;
	}

	.widget-title {
		color: @footer-headers-color;
		line-height: @default-line-height;
	}

	p, ul, ol {
		margin-bottom: 20px;
	}

	.instagram-feed {
		padding-top: 5px;
		font-size: 0;
		letter-spacing: normal;

		.instagram-item {
			display: inline-block;
			vertical-align: top;
			width: 20%;
			padding: 0 5px 5px 0;

			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
}

.footer-bottom {
	padding: 25px 0 20px 0;
}

.footer-menu {
	margin-bottom: 10px;
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			list-style: none;
			margin-right: 8px;
		}
	}
}