.visualcomposerstarter {
  .products {
    .button {
      &.add_to_cart_button,
      &.product_type_grouped {
        padding: 17px 0;
        width: 150px;
        text-align: center;
        border-radius: 0;
      }
      &.product_type_external {
        padding: 17px;
        text-align: center;
        border-radius: 0;
      }
    }
    .added_to_cart {
      font-size: 15px;
      margin-left: 0.8em;
    }
    .add_to_cart_button.button.loading::after {
      top: 1em;
      right: .5em;
    }
  }

  .woocommerce {
    .button.checkout-button {
      border-radius: 0;
      text-transform: uppercase;
      background: @woocommerce-basic-button-background-color;
      font-size: 14px;
      padding: 23px 20px;
      &:hover {
        background: darken(@woocommerce-basic-button-background-color, 10%);
      }
    }

    .button[name="update_cart"],
    .button[name="apply_coupon"],
    .vct-checkout-button {
      color: @woocommerce-cart-update-cart-color;
      border: 2px solid @woocommerce-cart-update-cart-color;
      border-radius: 0;
      background: transparent;
      padding: 15px 68px;
      text-transform: uppercase;
      float: right;
      font-size: 12px;

      &:disabled[disabled],
      &:disabled {
        padding: 15px 68px;
      }
    }

    .vct-checkout-button {
      padding: 13px 68px;
    }
  }
}