.visualcomposerstarter.woocommerce {
  .vct-cart-items-count {
    background: #2b4b80;
    color: #fff;
    width: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 50%;
    line-height: 2.1;
    margin-left: 10px;
  }

  .navbar-wrapper {
    display: flex;
  }

  .navbar-header {
    flex: 1 0 auto;
  }

  .vct-cart-wrapper {
    display: flex;
    align-items: flex-end;
    flex: 0 0 auto;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        box-shadow: none;
        outline: none;
      }
    }
  }
}