@media only screen and (min-width: 768px) {
  .visualcomposerstarter:not(.menu-sandwich) {
    .navbar-wrapper {
      display: block;
    }
    .vct-cart-wrapper {
      float: right;
      a {
        height: 55px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .visualcomposerstarter {
    .woocommerce table.cart {
      td {
        padding: 30px 20px;
      }
      .product-remove,
      .product-name {
        width: auto;
      }
      .button[name="update_cart"] {
        float: none;
      }
    }
  }
}