@media only screen and (min-width: 768px) {
  .visualcomposerstarter:not(.menu-sandwich) {
    .navbar-wrapper {
      display: block;
    }
    .vct-cart-wrapper {
      float: right;
      a {
        height: 55px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .visualcomposerstarter {
    .woocommerce {
      flex-wrap: wrap;

      .vcv-cart-container {
        padding: 0;
      }

      .vcv-cart-container,
      .cart-collaterals {
        flex: 0 0 100%;
      }

      table.cart {
        td {
          padding: 30px 20px;
        }
        .cart_item:first-child td {
          padding-top: 30px;
        }
        .product-remove,
        .product-name {
          width: auto;
        }
        .button[name="update_cart"] {
          float: none;
        }
      }
    }
  }
}