.visualcomposerstarter.woocommerce {
  .woocommerce-error,
  .woocommerce-info,
  .woocommerce-message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 23px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    color: #fff;

    &::before {
      display: none;
    }

    .button {
      width: 100px;
      float: none;
      order: 1;
      border: none;
      padding: 1px;
      font-weight: 600;
      line-height: 0;
      color: #fff;
      background: transparent;

      &:hover {
        background: transparent;
      }
    }
  }

  .woocommerce-error {
    background: #F6424C;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .woocommerce-info {
    background: #FBD137;
  }

  .woocommerce-message {
    background: #2B4B80;
  }

  .vct-close-woocommerce-msg-container {
    margin-left: auto !important; // to overwrite woocommerce important
  }

  .vct-close-woocommerce-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 14px;
    height: 14px;
    cursor: pointer;
    order: 2;
    margin-left: auto;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background: #fff;
      transform: rotate(45deg);
    }
    &::before {
      width: 100%;
      height: 2px;
    }
    &::after {
      width: 2px;
      height: 100%;
    }
  }
}