/*
  Color
 */

//Price
@woocommerce-product-price-color: #2B4B80;
@woocommerce-product-old-price-color: #d5d5d5;

//Form fields
@woocommerce-form-field-border-color: #efefef;
@woocommerce-form-field-bullet-color: #b9b9b9;

//Close button
@woocommerce-cart-product-remove-color: #b9b9b9;
@woocommerce-close-button-size: 18px;

//Cart
@woocommerce-cart-table-color: #979797;
@woocommerce-cart-update-cart-color: #4E4E4E;
@woocommerce-cart-order-summary-border-color: #efefef;
@woocommerce-cart-promo-code-color: #979797;

//Button
@woocommerce-basic-button-background-color: #557cbf;

/*
  Shapes
 */

//Form fiels bullet
@woocommerce-form-field-bullet-transparent: 5px solid transparent;
@woocommerce-form-field-bullet: 5px solid @woocommerce-form-field-bullet-color;


